@import "tailwindcss";

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-decoration: underline wavy;
}
